<html>
    <head>
        <title>
            Sporting Machine
        </title>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="nav-bar">
                    <ul>
                        <li><a href="#HOME">HOME</li>
                        <li>CAROUSEL</li>
                        <li>LOGIN/SIGN UP</li>
                        <li>ABOUT US</li>
                    </ul>    
                </div>    
            </div>
        </header>
    </body>
</html>